<div class="wrapper">
    <header class="jumbotron bg-cover text-white">
      <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">DAWII_EF_CabanillasLourdes</h1>
        <p class="font-italic mb-0">Examen Final</p>
      </div>
    </header>
  
    <router-outlet></router-outlet>
  
    <footer class="jumbotron mt-auto" style="z-index: 0;">
      <div class="text-center text-white">
        <div class="text-center p-3 bg-dark">
          Lourdes Lizett Cabanillas Guerrero
        </div>
      </div>
    </footer>
</div>